<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<map name="Map3" id="Map3">
    <area shape="circle" coords="212,74,4" href="#" alt="北京密云古北口" >
    <area shape="circle" coords="180,89,4" href="#" alt="北京门头沟沿河城" >
    <area shape="circle" coords="221,117,4" href="#" alt="天津三岔口">
    <area shape="circle" coords="237,87,4" href="#" alt="天津果河桥" >
    <area shape="circle" coords="140,82,4" href="#" alt="河北张家口八号桥" >

    <area shape="circle" coords="111,141,4" href="#" alt="河北石家庄港南水库" >
    <area shape="circle" coords="173,192,4" href="#" alt="山东聊城秤钩湾" >
</map>
<map name="Map4" id="Map4">
    <area shape="circle" coords="101,181,4" href="#" alt="河南信阳淮滨水文站">
    <area shape="circle" coords="121,178,4" href="#" alt="安徽阜阳王家坝" >
    <area shape="circle" coords="92,171,4" href="#" alt="河南驻马店班台">
    <area shape="circle" coords="114,165,4" href="#" alt="安徽阜阳徐庄" >
    <area shape="circle" coords="147,172,4" href="#" alt="安徽淮南石头埠">
    <area shape="circle" coords="184,158,4" href="#" alt="江苏盱眙">
    <area shape="circle" coords="167,163,4" href="#" alt="安徽蚌埠蚌埠闸">
    <area shape="circle" coords="175,160,4" href="#" alt="安徽滁州小柳巷">
    <area shape="circle" coords="111,185,4" href="#" alt="河南信阳蒋集水文站">
    <area shape="circle" coords="92,152,4" href="#" alt="河南周口沈丘闸" >
    <area shape="circle" coords="125,150,4" href="#" alt="安徽阜阳张大桥" >
    <area shape="circle" coords="143,134,4" href="#" alt="安徽淮北小王桥" >
    <area shape="circle" coords="105,158,4" href="#" alt="安徽界首七渡口">
    <area shape="circle" coords="85,148,4" href="#" alt="河南周口鹿邑付桥闸" >
    <area shape="circle" coords="116,141,4" href="#" alt="安徽亳州颜集" >
    <area shape="circle" coords="120,122,4" href="#" alt="河南永城黄口" >
    <area shape="circle" coords="169,144,4" href="#" alt="安徽宿州泗县公路桥">
    <area shape="circle" coords="159,133,4" href="#" alt="江苏泗洪大屈" >
    <area shape="circle" coords="142,143,4" href="#" alt="安徽宿州杨庄" >
    <area shape="circle" coords="140,115,4" href="#" alt="江苏徐州李集桥" >
    <area shape="circle" coords="182,116,4" href="#" alt="山东枣庄台儿庄" >
    <area shape="circle" coords="184,130,4" href="#" alt="江苏邳苍" >
    <area shape="circle" coords="148,120,4" href="#" alt="江苏徐州小红圈" >
    <area shape="circle" coords="192,113,4" href="#" alt="山东临沂重坊桥" >
    <area shape="circle" coords="188,89,4" href="#" alt="山东临沂涝沟桥" >
    <area shape="circle" coords="192,105,4" href="#" alt="山东临沂清泉寺" >
    <area shape="circle" coords="206,118,4" href="#" alt="江苏连云港大兴桥">
</map>
<map name="Map5" id="Map5">
    <area shape="circle" coords="136,94,4" href="#" alt="江苏无锡沙渚">
    <area shape="circle" coords="97,117,4" href="#" alt="江苏宜兴兰山嘴" >
    <area shape="circle" coords="137,125,4" href="#" alt="江苏苏州西山" >
    <area shape="circle" coords="118,145,4" href="#" alt="浙江湖州新塘港" >
    <area shape="circle" coords="208,129,4" href="#" alt="上海青浦急水港" >
    <area shape="circle" coords="180,161,4" href="#" alt="浙江嘉兴斜路港" >
    <area shape="circle" coords="186,155,4" href="#" alt="浙江嘉兴王江泾" >
</map>
<map name="Map6" id="Map6">
    <area shape="circle" coords="111,171,4" href="#" alt="四川攀枝花龙洞" >
    <area shape="circle" coords="153,144,4" href="#" alt="重庆朱沱" >
    <area shape="circle" coords="200,129,4" href="#" alt="湖北宜昌南津关" >
    <area shape="circle" coords="215,145,4" href="#" alt="湖南岳阳岳阳楼" >
    <area shape="circle" coords="253,139,4" href="#" alt="江西九江河西水厂" >
    <area shape="circle" coords="256,131,4" href="#" alt="安徽安庆皖河口" >
    <area shape="circle" coords="273,121,4" href="#" alt="江苏南京林山" >
    <area shape="circle" coords="130,137,4" href="#" alt="四川乐山岷江大桥" >
    <area shape="circle" coords="134,149,4" href="#" alt="四川宜宾凉姜沟" >
    <area shape="circle" coords="144,147,4" href="#" alt="四川泸州陀江二桥" >
    <area shape="circle" coords="209,111,4" href="#" alt="河南南阳陶岔" >
    <area shape="circle" coords="199,111,4" href="#" alt="湖北丹江口" >
    <area shape="circle" coords="216,158,4" href="#" alt="湖南长沙新港" >
    <area shape="circle" coords="224,137,4" href="#" alt="湖南岳阳城陵矶" >
    <area shape="circle" coords="233,127,4" href="#" alt="湖北武汉宗关" >
    <area shape="circle" coords="242,152,4" href="#" alt="江西南昌滁槎" >
    <area shape="circle" coords="241,142,4" href="#" alt="江西九江蛤蟆石" >
    <area shape="circle" coords="285,115,4" href="#" alt="江苏扬州三江营" >

    <area shape="circle" coords="152,118,4" href="#" alt="四川广元清风峡" >
</map>
<map name="Map7" id="Map7">
    <area shape="circle" coords="104,140,4" href="#" alt="甘肃兰州新城桥" >
    <area shape="circle" coords="126,121,4" href="#" alt="宁夏吴忠新墩">
    <area shape="circle" coords="145,104,4" href="#" alt="内蒙古乌海海渤湾" >
    <area shape="circle" coords="184,81,4" href="#" alt="内蒙古包头画匠营子" >
    <area shape="circle" coords="207,94,4" href="#" alt="山西忻州万家寨" >
    <area shape="circle" coords="223,155,4" href="#" alt="河南济源小浪底">
    <area shape="circle" coords="271,135,4" href="#" alt="山东济南泺口" >
    <area shape="circle" coords="198,143,4" href="#" alt="山西运城河津大桥" >
    <area shape="circle" coords="187,157,4" href="#" alt="陕西渭南潼关吊桥" >
</map>
<map name="Map8" id="Map8">
    <area shape="circle" coords="93,139,4" href="#" alt="广西凭祥平而关" >
    <area shape="circle" coords="123,129,4" href="#" alt="广西南宁老口">
    <area shape="circle" coords="162,87,4" href="#" alt="广西桂林阳朔" >
    <area shape="circle" coords="155,116,4" href="#" alt="广西贵港石嘴" >
    <area shape="circle" coords="182,120,4" href="#" alt="广西梧州界首" >
    <area shape="circle" coords="213,112,4" href="#" alt="广东清远七星岗" >
    <area shape="circle" coords="223,126,4" href="#" alt="广东清远七星岗" >
    <area shape="circle" coords="221,141,4" href="#" alt="广东中山横栏" >
</map>
<map name="Map10" id="Map10">
    <area shape="circle" coords="251,206,4" href="#" alt="云南西双版纳橄榄坝" >
    <area shape="circle" coords="287,197,4" href="#" alt="云南红河州河口" >

</map>
<map name="Map11" id="Map11">
    <area shape="circle" coords="153,43,4" href="#" alt="浙江杭州鸠坑口" >
    <area shape="circle" coords="183,166,4" href="#" alt="福建福州白岩潭" >
</map>
<map name="Map12" id="Map12">
    <area shape="circle" coords="98,117,4" href="#" alt="昆明西苑隧道" >
    <area shape="circle" coords="111,150,4" href="#" alt="昆明观音山" >
</map>
<map name="Map13" id="Map13">
    <area shape="circle" coords="243,103,4" href="#" alt="安徽巢湖裕溪口" >
    <area shape="circle" coords="182,105,4" href="#" alt="安徽合肥湖滨" >
</map>
</body>
</html>