
<div class="container-fluid background">
    <header class="row ">
        <div class="col-lg-12">
            <div class="pull-left">
                <a class="logocur" href="#">
                    <img class="logo block" src="../../image/logo.png">
                    <img class="siteName" src="../../image/name.png">
                    <h1 class="none">水质管理系统
                        <small>动态测评水功能区水质</small>
                    </h1>
                </a>
            </div>
        </div>
    </header>